=form_for [@message], html: {class:"pure-form pure-form-stacked"} do |message|
  = message.text_field :subject, placeholder:"Subject"
  #wysihtml5-toolbar
    %a{:data => {"wysihtml5-command" => "bold"}, class: "pure-button pure-button-small"} <i class="fa fa-bold"></i>
    %a{:data => {"wysihtml5-command" => "italic"}, class: "pure-button pure-button-small"} <i class="fa fa-italic"></i>
    %a{:data => {"wysihtml5-command" => "underline"}, class: "pure-button pure-button-small"} <i class="fa fa-underline"></i>
    %a{:data => {"wysihtml5-command" => "createLink"}, class: "pure-button pure-button-small"} <i class="icon-link"></i>
    %div{:data => {"wysihtml5-dialog"=>"createLink"}}
      %label Link:
      %input{:data => {"wysihtml5-dialog-field" => "href"}, value:"http://"}
      
    %a{:data => {"wysihtml5-command" => "insertOrderedList"}, class: "pure-button pure-button-small"} <i class="fa fa-list-ol"></i>
    %a{:data => {"wysihtml5-command" => "insertUnorderedList"}, class: "pure-button  pure-button-small"} <i class="fa fa-list-ul"></i>
    %a{:data => {"wysihtml5-command" => "foreColor", "wysihtml5-command-value"=>"red"}, class: "pure-button  pure-button-small"} Red
    %a{:data => {"wysihtml5-command" => "foreColor", "wysihtml5-command-value"=>"green"}, class: "pure-button  pure-button-small"} Green
    %a{:data => {"wysihtml5-command" => "foreColor", "wysihtml5-command-value"=>"blue"}, class: "pure-button pure-button-small"} Blue
  = message.text_area :message_body, {placeholder:"Message", id:"wysihtml5-textarea"} 

  = message.select(:topic, Topic.all.collect{|t| [t.topic_name, t.id]}) 
  = submit_tag "Post", class:"pure-button"

:javascript
  var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
  toolbar: "wysihtml5-toolbar", // id of toolbar element
  parserRules: wysihtml5ParserRules, // defined in parser rules set 
  stylesheets: "#{asset_path "wysihtml5-stylesheet.css"}"
  });
