.pure-g-r.messagesContainer{"ng-app" => true}
  .pure-u-1-5.topics
    .pure-menu.pure-menu-open.topicsBlocks
      %ul
        %a{href:"messages/new", class:"pure-button"} New Message
        %li
          = link_to "All", messages_path
        - @topics.each do |t|
          %li
            = link_to t.topic_name, topic_path(t.id)
    / .topicSelector
  .pure-u-4-5
    .pure-g-r.messageCards
      - @message.each do |m|
        - u = User.find(m.user)
        .message.card.pure-u-1
          .creator
            .msgInfo
              posted by
              = u.name 
              %br
              =m.time.in_time_zone("America/Los_Angeles").to_s(:short)
            = link_to (image_tag u.gravatar_url), user_path(u.id)
          %h4= link_to m.subject, message_path(m.id)
          %br
          =m.message_body.html_safe
          %br
          %br
          %button{class:"pure-button replyBtn", value:".replyCard#{m.id}"} <i class="icon-chevron-down"></i> Show Replies
          %button{class:"pure-button replyBtn", value:".replyForm#{m.id}"} <i class="icon-ios7-compose"></i> Reply
          %div{class:"replyForm replyForm#{m.id}"}
            %br
            = form_for( [m, Reply.new], html:{class:"pure-form"}) do |m|1
              = m.text_area :reply_text
              = submit_tag "Post", class:"pure-button"
        -m.replies.each do |r|
          - u = User.find(r.user)
          %div{class:"reply card pure-u-2-3 replyCard#{m.id}"}
            .creator
              posted by
              = u.name 
              = link_to (image_tag u.gravatar_url), user_path(u.id)
            =r.reply_text

// :javascript
//   //create a dropdown for topics when screen is < 1000px
//   $("<ul />").appendTo(".topicSelector");
//   //add lines & anchors
//   var i = 0
//   $(".topicsBlocks a").each(function() {
//     var el = $(this);
//     $("<li />", { id: "li"+i}).appendTo(".topicSelector ul");
//     $("<a />", {
//       "href" : el.attr("href"),
//       "text" : el.text()
//       }).appendTo("#li"+i);
//     ++i;
//     });

:javascript
  //jquery to show replies & the reply form
  $(".replyBtn").on('click', function(){
    rply = $(this).attr("value");
    $(rply).show();
  });
  