<div class="pure-u-1">
  <div class="card">
    <%= form_for @message, html: {class:"pure-form pure-form-stacked"} do |message| %>
    <%= message.label :subject, "Subject" %>
    <%= message.text_field :subject %>
    <%= message.label :message_body, "Message Body" %>
    <%= message.text_area :message_body %>

    <%= submit_tag "Post", class:"pure-button" %>
    <% end %>
  </div>
</div>