<!DOCTYPE html>
<html>
<head>
  <title>dal Segno</title>
  <!--[if lte IE 7]><script src="assets/elusive-font/lte-ie7.js"></script><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag "favicon.ico" %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  

</head>
<body>
  <div class='pure-g-r'>
    <%if signed_in? %>
    <div class='pure-u-1-5'>
      <%= render "app_menu" %>
    </div>
    <% else %>
    <div class='pure-u-1-5'></div>
    <%end%>

    <div class='pure-u-4-5'>
      <div class='placeholder'></div>
      <div class='container'>
        <%= yield %>
      </div>
    </div>
  </div>
  <footer>created at General Assembly in Los Angeles</footer>
</body>
</html>
