<!DOCTYPE html>
<html ng-app>
<head>
  <title>dal Segno</title>
  <!--[if lte IE 7]><script src="assets/elusive-font/lte-ie7.js"></script><![endif]-->
  <%= favicon_link_tag "favicon.ico" %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='pure-g-r'>
    <%if signed_in? %>
    <div class='pure-u-1-5'>
      <div class="pure-menu pure-menu-open">
        <a href="/" class="pure-menu-heading topLeftIcon">
          <%= image_tag "Music-segno.png" %>
        </a>
        
        <ul>
          <li class="pure-menu-heading">
            
            <% if current_user %>
              Logged in as<br />
               <%= current_user.email %>
               <%= link_to "Profile", user_path(current_user) %>
               <% else %>
               Not Logged In.
               <%end%>
               <br />
            <%= link_to  "Logout", logout_path , class:"pure-button"%>
          </li>
          <li><%= link_to '<i class="icon-email"></i> Messages'.html_safe, messages_path %></li>
          <li><a href="#">thing 2</a></li>
          <li><a href="#">thing 3</a></li>
        </ul>
      </div>
    </div>
    <% else %>
    <div class='pure-u-1-5'></div>
    <%end%>

      
    <div class='pure-u-4-5'>
      <div class='placeholder'></div>
      <div class='container'>
        <%= yield %>
      </div>
    </div>
  </div>
  <footer>created at General Assembly in Los Angeles</footer>
</body>
</html>
